.overlay {
  position: fixed;
  bottom: 4rem;
  right: 20px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $accent-color;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    img {
      width: 24px;
      height: 21px;
    }
  }
}
